@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import "reset";
@import "pages/about";
@import "pages/waitlist";
@import "pages/offers";
@import "menu/categories";
@import "menu/single-menu";
@import "home";

body {
  line-height: 1;
  background: #fafafa;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
p {
  font-family: "Montserrat", sans-serif;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

//app-layout
#app-layout {
  display: grid;
  // grid-template-columns: 350px 1fr;
  width: 100%;
  height: 100vh;
  //side-menu styles
  .side-menu {
    background: white;
    padding: 50px;
    position: absolute;
    height: 100vh;
    width: 300px;
    .logo {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
      img {
        max-width: 150px;
      }
    }
      .menu {
        margin-bottom: 50px;
        .menu-title {
          color: #1e58ff;
          font-weight: 700;
          font-size: 1.2rem;
          text-transform: uppercase;
          border-bottom: 1px solid #e2eaef;
          padding-bottom: 20px;
          margin-bottom: 20px;
        }
        .links {
          li {
            a {
              display: block;
              font-size: 1.1rem;
              color: black;
              font-weight: 400;
              text-decoration: none;
              margin-bottom: 1.4rem;
              text-transform: capitalize;
              transition: color .3s ease-in-out;
              &:hover {
                color: #e3424c;
              }
            }
          }
        }
      }
      .social-icons {
        display: flex;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #c2c8cc;
          font-size: .9rem;
          text-decoration: none;
          color: white;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
      .location {
        position: absolute;
        bottom: 100px;
        align-self: center;
        .address {
          color: #7a6d99;
          margin-bottom: 1rem;
          line-height: 1.6;
        }
        .phone-number {
          a{
            color: #1e58ff;
            font-size: 2rem;
            font-weight: 700;
            text-decoration: none;
        }
      }
    }
  }
  //hamburger menu styles
  //content-section
  #content-section {
    padding: 100px;
    transform: translate3d(300px, 0, 0);
    max-width: calc(100vw - 300px);
    // overflow: hidden;
    background: #ed4852;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ed4852 1%, #9c1b24 100%);
     /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ed4852 1%,#9c1b24 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ed4852 1%,#9c1b24 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}
//mobile menu styles
.nav {
  height: 10vh;
  background: white;
  z-index: 6;
  .mobile-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    .nav-item {
      a {
        color: black;
        text-decoration: none;
        font-size: 1.2rem;
      }
    }
  }
}
//content-box styles
.content-box {
  background: white;
  padding: 20px;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

//Small devices (landscape phones, 0px and up to 767px)
@media (min-width: 0px) and (max-width: 767px) {
    #app-layout {
      .side-menu {
        transform: translate3d(-300px, 0, 0);
        }
        .nav {
          position: relative;
          .logo {
            position: absolute;
            left: 50%;
            top: 57%;
            transform: translate(-50%, -50%);
            img {
              max-width: 120px;
            }
          }
          .hamburger {
            position: absolute;
            cursor: pointer;
            right: 5%;
            top: 50%;
            transform: translate(-5%, -50%);
            z-index: 2;
            .line {
              width: 30px;
              height: 3px;
              background: black;
              margin: 5px;
            }
          }
          .mobile-links {
            position: fixed;
            background: white;
            height: 100vh;
            width: 100%;
            flex-direction: column;
            clip-path: circle(100px at 90% -15%);
            webkit-clip-path: circle(100px at 90% -15%);
            transition: all 1s ease-out;
            pointer-events: none;
          }
          .open{
            clip-path: circle(1500px at 90% -15%);
            -webkit-clip-path: circle(1500px at 90% -15%);
            pointer-events: all;
          }
          .mobile-links {
            .nav-item {
              opacity: 0;
              a {
                font-size: 1.5rem;
              }
            }
          }
          .nav-item:nth-child(1) {
            transition: all 0.5s ease-in-out 0.2s;
          }
          .nav-item:nth-child(2) {
            transition: all 0.5s ease-in-out 0.4s;
          }
          .nav-item:nth-child(3) {
            transition: all 0.5s ease-in-out 0.6s;
          }
          .nav-item:nth-child(4) {
            transition: all 0.5s ease-in-out 0.8s;
          }
          .nav-item:nth-child(5) {
            transition: all 0.5s ease-in-out 0.9s;
          }
          .nav-item.fade {
            opacity: 1;
          }
        }
      #content-section {
          width: 100%;
          max-width: 100vw;
          padding: 20px;
          transform: translate3d(0, 0, 0);
        }
        .welcome-jumbo {
          height: 90vh;
      }
    }

  }

// //hamburger-menu styles (for mobile and tablets, from 0px upto 991px)
// @media (min-width: 0px) and (max-width: 991px) {
//
//       .welcome-jumbo {
//         height: 90vh;
//     }
//
// }

//Medium devices (tablets, 768px and up to 991px)
@media (min-width: 768px) and (max-width: 991px) {
    #app-layout {
      .side-menu {
        transform: translate3d(-300px, 0, 0);
      }
      .nav {
        position: relative;
        .logo {
          position: absolute;
          left: 50%;
          top: 57%;
          transform: translate(-50%, -50%);
          img {
            max-width: 120px;
          }
        }
        .hamburger {
          position: absolute;
          cursor: pointer;
          right: 5%;
          top: 50%;
          transform: translate(-5%, -50%);
          z-index: 2;
          .line {
            width: 30px;
            height: 3px;
            background: black;
            margin: 5px;
          }
        }
        .mobile-links {
          position: fixed;
          background: white;
          height: 100vh;
          width: 100%;
          flex-direction: column;
          clip-path: circle(100px at 90% -15%);
          webkit-clip-path: circle(100px at 90% -15%);
          transition: all 1s ease-out;
          pointer-events: none;
        }
        .open{
          clip-path: circle(1500px at 90% -15%);
          -webkit-clip-path: circle(1500px at 90% -15%);
          pointer-events: all;
        }
        .mobile-links {
          .nav-item {
            opacity: 0;
            a {
              font-size: 1.5rem;
            }
          }
        }
        .nav-item:nth-child(1) {
          transition: all 0.5s ease-in-out 0.2s;
        }
        .nav-item:nth-child(2) {
          transition: all 0.5s ease-in-out 0.4s;
        }
        .nav-item:nth-child(3) {
          transition: all 0.5s ease-in-out 0.6s;
        }
        .nav-item:nth-child(4) {
          transition: all 0.5s ease-in-out 0.8s;
        }
        .nav-item.fade {
          opacity: 1;
        }
      }
      #content-section {
        height: 90vh;
        width: 100%;
        max-width: 100vw;
        padding: 20px;
        transform: translate3d(0, 0, 0);
      }
      .welcome-jumbo {
        height: 90vh;
      }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .nav {
    display: none;
  }
}
