#offers-page {
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: black;
    display: flex;
    margin-bottom: 1rem;
  }
  span {
    content: '';
    opacity: .84;
    display: inline-block;
    width: 50px;
    border: 4px solid #e41f13;
    margin-bottom: 2rem;
  }
  p {
    font-size: 1rem;
    line-height: 2;
    font-weight: 300;
    color: #636b6f;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  form {
    .form-group {
      label {
        font-weight: 400;
        margin-bottom: .8rem;
        color: black;
      }
      .form-control {
        padding: 10px
        !important;
        border: 2px solid #9c1b24;
        font-size: 1.2rem;
        box-sizing: border-box;
        height: auto;
      }
      button[type="submit"] {
        background: #9c1b24;
        border: none;
        padding: 15px 30px;
      }
    }
  }
}

// Small devices (landscape phones, 0px and up to 767px)
@media (min-width: 0px) and (max-width: 767px) {
  #offers-page {
    padding: 20px;
    h1 {
      font-size: 2rem;
    }
  }
}

// Medium devices (tablets, 768px and up to 991px)
@media (min-width: 768px) and (max-width: 991px) {
  #offers-page {
    padding: 20px;
  }
}
